:host {
  display: flex;
  align-items: center;
  width: 100%;
  & form {
    width: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: center;
    & input {
      width: 70%;
      border: 1px solid #E0E0E0;
      // border: none;
      line-height: 22px;
      padding: 5px;
      border-radius: 2px;
      margin-right: 5px;
      // font-size: 16px;
      &:focus {
        outline: none;
      }
    }
    & button {
      width: 30%;
      padding: 5px;
      line-height: 22px;
      border: none;
      outline: none;
      background: #E91E63;
      border: 1px solid #E91E63;
      color: #fff;
      border-radius: 2px;
      cursor: pointer;
      transition: .3s;
      &:hover {
        background: #D81B60
      }
    }
  }
}
